.task {
    border: 2px solid #010101;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    transition: .3s;
    position: relative;
    box-shadow: 4px 4px 0px 0px #010101;
    padding: 5px;
    width: 95%;
}

.openTask {
    height: 70vh;
}

.task-close {
    cursor: pointer;

    > h3 {
        width: 90%;
        font-size: 1.7rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    > p {
        font-size: 1rem;
        max-width: 100%;
        height: 55px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    > .btn-delete {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 25px;
        background-color: #fa0000;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #ff7777;
    }
}


.task-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    > textarea {
        border: none;
        border-radius: 5px;
        width: 90%;
        resize: none;
        background-color: #fafafa;
        overflow: hidden;
        box-shadow: 0px 0px 5px 1px #dadada;
        padding: 5px;
        margin-bottom: 10px;
    }

    > .btn-update {
        width: 30px;
        background-color: #00fa00;
        box-shadow: 0px 0px 5px 1px #77ff77;
        padding: 5px;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        left: 10px;
        cursor: pointer;
    }

    > .btn-delete {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        background-color: #fa0000;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #ff7777;
        cursor: pointer;
    }
}

.task-open-textarea-1 {
    font-size: 1.6rem;
    font-weight: 700;
}
.task-open-textarea-2 {
    font-size: 1rem;
    height: 50vh;
}
